/* assets/css/sepia.css */
:root {
  --theme:       #f7f2e6;
  --entry:       #e9e0cc;
  --primary:     #5b4636;
  --secondary:   #a58c6f;
  --tertiary:    #e4d8c4;
  --content:     #3b2f2f;
  --code-block-bg: #363024;
  --code-bg:     #f7f2e6;
  --border:      #e4d8c4;
  --link:         #8b5e3c;
  --link-hover:   #5a3923;
  --hljs-bg:      #f4e8d4;
}

/* :root {
  --theme:        #f8f4e3;
  --entry:        #fffaf0;
  --content:      #3e2f1c;
  --hljs-bg:      #f4e8d4;
  --border:       #e6dac5;
  --primary:      #5c3e2b;
  --secondary:    #8c745c;
  --link:         #8b5e3c;
  --link-hover:   #5a3923;
} */


[params]
  customCSS = ["css/sepia.css"]